extends layout

append head
  title #{message} #{error.status}

block content
  section.error
    p
      strong #{message} at #{path}
      br
      = "Rendering culturegraphic.com instead"
    pre #{error.stack}
  include index
