extends layout

append head
  title #{error.status} · #{message}

block content
  section.error
    p
      strong #{error.status} · #{message} at #{path}
      br
      = "Rendering culturegraphic.com instead"
    pre #{error.stack}
  include index
